.left-container {
    display: flex;
    height: 100%;
    align-items: center;
    background-color: black;
    color: white;
}

.register-link {
    font-size: 12px;
    font-family: 'Encode Sans Expanded', sans-serif;
    text-decoration: none;
    color: #fff;
}

.register-link>a {
    text-decoration: none;
    color: #3C85DB;
}

.register-link>a:hover {
    color: #FFF;
}

.frg-pass:hover {
    color: #fff;
}

.frg-pass {
    font-size: 12px;
    font-family: 'Encode Sans Expanded', sans-serif;
    text-decoration: none;
    color: #3C85DB;
    margin-bottom: 1rem;
}

.input-group {
    position: relative;
    margin-top: 1rem;
}

.access-input {
    width: 15rem;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    position: relative;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    font-family: 'Encode Sans Expanded', sans-serif;
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.access-input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}

.access-input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
}

.access-container {
    height: 100%;
    width: 100%;
    margin-top: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.access-container>h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    height: 1rem;
    font-weight: bold;
}

.password-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.password-section>a {
    margin-top: 0.1rem;
    margin-left: 0.8rem;
}

#confirm-pssw {
    margin-bottom: 1rem;
}

#narrow-left-container {
    width: 12rem;
}

#wide-left-container {
    width: 29rem;
}