.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: white;
    border-radius: 30px;
    box-shadow: 7px 7px 15px #105b99;
    transition: 0.2s ease-in-out;
}

.img {
    margin: 0.2rem;
    height: 50%;
    flex: 1;
    border-radius: 30px 30px 5px 5px;
    display: flex;
    align-items: top;
    justify-content: right;
}

.img>img {
    border-radius: 30px 30px 10px 10px;
    width: 100%;
    max-height: min-content;
    overflow: hidden;
}

.remitente {
    display: flex;
    border-radius: 0 30px 0 15px;
    position: absolute;
    align-items: center;
    z-index: 2;
    justify-content: space-between;
    width: 7%;
    height: 2.5%;
    padding: 0.5%;
    background-color: white;
}

.remitente>p {
    width: 80%;
    margin-left: 5%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.remitente>img {
    border-radius: 50%;
    overflow: hidden;
    width: auto;
    height: 100%;
}

.save {
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    margin: 20px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text {
    flex: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.icon-box {
    margin-top: 15px;
    width: 60%;
    background-color: #e3fff9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.card-text>h3 {
    margin: 1rem;
    height: 1rem;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.card-text>p {
    margin: 0 1rem 0 1rem;
    height: 2rem;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #999999;
    font-size: 13px;
}

.urgency-span {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.save:hover {
    transform: scale(1.1) rotate(10deg);
}

.low-urgency-box {
    background-color: #62ec8b;
}

.medium-urgency-box {
    background-color: #ddd03c;
}

.high-urgency-box {
    background-color: #e4461a;
}

.critical-urgency-box {
    background-color: #530650;
}

.critical-urgency-box,
.high-urgency-box,
.medium-urgency-box,
.low-urgency-box {
    margin-top: 15px;
    height: 3rem;
    width: 100%;
    border-radius: 0 0 30px 30px;
    box-shadow: 7px 7px 15px #105b99;
    display: flex;
    align-items: center;
    justify-content: left;
}