.login-button {
  font-size: var(--pFontSize);
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 1rem;
  will-change: box-shadow, transform;
  background: var(--federalBlue);
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  font-weight: bold;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.login-button:hover {
  transform: translateY(-0.1em);
}

.login-button:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}