.logo {
    background-color: black;
    height: 100%;
    border-radius: 0 5rem 0 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 27rem;
}

.logo img {
    width: 2rem;
    margin-left: 1.5rem;
}


.logo>h1 {
    font-weight: lighter;
    font-family: 'Encode Sans Expanded', sans-serif;
    margin-left: 1rem;
    font-size: 17px;
}

.logo>h1>span {
    font-weight: bold;
}