.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.homeContent {
  display: flex;
  width: 100%;
  height: 100%;
}

.navSection {
  flex: 1;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: white;
  background-color: var(--franceBlue);
  border-bottom-left-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer {
  color: #000;
  background-color: white;
  grid-area: content;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 86%;
  margin: 3rem;

  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

}

.contentWelcome {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
}

.contentWelcome>h2 {
  font-family: 'Courier Prime', monospace;
  font-size: 35px;
  margin: 3rem;
  color: black;
}

.contentWelcome>p {
  font-family: 'Encode Sans Expanded', sans-serif;
  margin: 3rem;
  font-size: var(--pFontSize);
  color: black;

}

.contentNavLine {
  border: 0.01rem solid #000;
  width: 0rem;
  height: 10rem;
}

.contentNav {
  background-color: rgb(234, 234, 234);
  margin: 3rem;
  height: 80%;
  width: 40%;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contentNav>img {
  height: fit-content;
  width: fit-content;
  margin-right: 3rem;
}

.contentNav>nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
}

.contentNav>nav>a {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: rgb(74, 81, 87);
  margin: 1rem;
}