@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header {
    color: #ffffff;
    grid: header;
    font-weight: bold;
    width: 100%;
    height: 5rem;
}

.header-logo-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--franceBlue);
    flex: 0 0 auto;
}

.header-container {
    background-color: var(--franceBlue);
    margin-right: 2rem;
}

.header-container {
    font-family: 'Urbanist', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linea {
    width: 0.1px;
    background-color: white;
    height: 3rem;
    margin-right: 2rem;
}

.active-page {

    background-color: white;
    color: #3C85DB;
}

.nav-button {
    background-color: var(--franceBlue);
    transition: opacity 0.3s;
    color: white;

}

.nav-button:hover {
    opacity: 0.5;
}

.nav-button,
.active-page {
    font-size: var(--pFontSize);
    font-weight: bold;
    font-size: 19px;
    border-style: none;
    border-radius: 0.5rem;
    margin-right: 1rem;
    width: 5.5rem;
    height: 1.5rem;
    font-family: 'Urbanist', sans-serif;
}

.header-links {
    display: flex;
}