.accessContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    width: 30rem;
    background-color: black;
    color: white;
}
.registerLink{
    font-size: 12px;
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
    color: #fff;
}
.registerLink > a{
    color: #3C85DB;
}
.registerLink > a:hover {
    color: #FFF;
}
.frgPass:hover{
    color: #fff;
}
.frgPass{
    font-size: 12px;
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
    color: #3C85DB;
}