@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&family=Urbanist:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.linea-footer{
    border: none;
    background-color: white;
    width: 80rem;
    height: 1px;
}
footer {
    background-color: #000;
    color: #fff;
    display: flex;  
    grid: footer;
    flex-direction: column;
    width: 100%;    
    height: 13rem;
}
.footer-logo h1 {
    margin-left: 1rem; 
}
.footer-logo h1 span{
    font-weight: bold;
}
.footer-top{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
.footer-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.footer-logo img {
    width: 3rem;
    margin-right: 1rem;
}

.company-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.social-media {
    display: flex;
    font-size: 20px;
    font-family: 'Urbanist', sans-serif;
    flex-direction: row;
    align-items: center;
}
.social-media p {
    color: white;
}
.social-media a {
    display: flex;
    flex-direction: row;
    
    margin-left: 1.5rem;
}

.social-media a img {
    width: 2.5rem;
    height: 2.5rem;
}

.contact-info {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-family: 'Urbanist', sans-serif;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}
