@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&family=Urbanist:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Encode+Sans+Expanded:wght@300&display=swap');

:root {
    --pFontSize: 18px;
    --federalBlue: #01166E;
    --neonBlue: #1E65FF;
    --franceBlue: #3C85DB;
    --celestialBlue: #0497E9;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;

}

#root {
    font-family: ;
    height: 100vh;
    width: 100%;
    display: grid;
    grid:
        "header" auto "main" 1fr "footer" auto / 1fr;
}

