.logo {
    background-color: black;
    height: 100%;
    border-radius: 0 5rem 0 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo img {
    width: clamp(1rem, 2vw, 2rem);
    margin-left: 1.5rem;
}

.logo h1 {
    display: none;
}

.logo {
    width: 5rem;
}