.logo {
  background-color: black;
  height: 100%;
  border-radius: 0 5rem 0 0;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.3rem 0 0.3rem 0;
}

.logo > img {
  width: 3rem;
  margin-left: 1.5rem;
}

.logo > h1 {
  font-weight: bold;
  font-family: "Encode Sans Expanded", sans-serif;
  margin-left: 1rem;
  font-size: 20px;
}

#narrow-logo {
  width: 12rem;
}
